:root[data-theme=light] {
  --color-1: rgb(152, 97, 255);
  --background-1: rgb(255, 255, 255);
  --background-2: rgb(246, 247, 255);
  --contraste: rgb(255, 255, 255);
  --text-color: #000;
  --subtext-color: #0000007e;
  --button-color: #ffffffbb;
}

:root[data-theme=dark] {
  --color-1: rgb(140, 0, 255);
  --background-1: rgb(30, 26, 41);
  --background-2: rgb(25, 18, 31);
  --text-color: white;
  --subtext-color: #ffffff7e;
  --contraste: rgb(0, 0, 0);
  --button-color: rgba(28, 20, 39, 0.589);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}

h1,
h2,
h3 {
  font-family: "Outfit", sans-serif;
}

p {
  font-family: "Rubik", sans-serif;
  color: var(--subtext-color);
}

.name {
  background: linear-gradient(135deg, #ff0a6c, #2d27ff, #ff0a6c);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  animation: movimientoDegradado 3s ease-in-out infinite;
  font-size: 70px;
  font-family: "Kaushan Script", cursive;
  white-space: nowrap;
}

@keyframes movimientoDegradado {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}
body {
  background: var(--background-1);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

button {
  color: var(--text-color);
  background: none;
  cursor: pointer;
}

.header {
  position: relative;
  background: var(--background-2);
}
.header__nav {
  position: fixed;
  width: 100%;
  background: var(--background-2);
  z-index: 100;
  top: 0px;
}
.header__nav__img {
  width: 50px;
  height: 50px;
}
.header__nav__div {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
  padding: 15px 5%;
}
@media (min-width: 768px) {
  .header__nav__div {
    padding: 15px 8%;
  }
}
@media (min-width: 1024px) {
  .header__nav__div {
    padding: 15px 10%;
  }
}
.header__nav__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav__div__content {
  position: relative;
  border-radius: 50px;
  padding: 0px 10px 0px 10px;
}
.header__nav__div__content__btn-1, .header__nav__div__content__btn-2, .header__nav__div__content__btn-3 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 16px;
  padding: 16px 25px;
}
.header__nav__div__content {
  /*
  &__btn-1:hover,
  &__btn-2:hover,
  &__btn-3:hover {
    color: white;
  }
  */
}
.header__nav__div__content::before {
  width: 80px;
  height: 3px;
  transition: all 0.5s ease;
  background: linear-gradient(135deg, #ff0a6c 0%, #2d27ff);
  border-radius: 30px;
  content: "";
  position: absolute;
  z-index: 1;
  right: 25px;
  bottom: 8px;
}
.header__nav__div__content:has(.header__nav__div__content__btn-1:hover)::before {
  width: 90px;
  right: 273px;
}
.header__nav__div__content:has(.header__nav__div__content__btn-2:hover)::before {
  width: 100px;
  right: 140px;
}
.header__nav__div__menu {
  display: none;
  color: var(--text-color);
  font-size: 22px;
}
.header__nav__div__theme {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 20px;
  background: var(--text-color);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: none;
  align-items: center;
}
.header__nav__div__theme i {
  color: var(--contraste);
  border-radius: 50px;
  font-size: 25px;
  transition: transform 0.5s ease-in-out, opacity 0.9s ease-in-out;
}
.header__nav__div__theme__sun {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__nav__div__theme__moon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(70%, -50%);
  opacity: 0;
}
.header__div {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
  padding: 350px 5%;
}
@media (min-width: 768px) {
  .header__div {
    padding: 350px 8%;
  }
}
@media (min-width: 1024px) {
  .header__div {
    padding: 350px 10%;
  }
}
.header__div__text {
  display: grid;
}
.header__div__text ul {
  display: flex;
  justify-content: none;
  align-items: center;
  gap: 20px;
}
.header__div__text ul li {
  list-style: none;
  font-family: "rubik";
}
.header__div__text ul li:nth-child(1) {
  color: white;
  background: linear-gradient(135deg, #ff0a6c 0%, #2d27ff);
  padding: 10px 20px;
  border-radius: 5px;
}
.header__div__text ul li:nth-child(2) {
  color: var(--text-color);
}
.header__div__text__h1 {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 20px;
  line-height: 1.1;
}
.header__div__text p:nth-child(3) {
  max-width: 1000px;
}
.header__button {
  font-size: 25px;
  padding: 15px 30px 15px 30px;
  border-radius: 50px;
  z-index: 20;
  cursor: pointer;
  color: var(--text-color);
  transition: color 0.3s ease;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header__button img {
  width: 20px;
  transition: transform 0.3s ease;
  right: 10px;
  top: 50%;
}
.header__button::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  background: var(--button-color);
  transition: background 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.header__button::before {
  content: "";
  z-index: -1;
  background: linear-gradient(45deg, red, rgb(255, 0, 191), rgb(25, 0, 255), rgb(255, 0, 191), red);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(20px);
  animation: glowing 17s linear infinite;
  transition: opacity 0.3s ease, filter 0.3s ease;
  border-radius: 70px;
  opacity: 1;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.header__button.active {
  color: var(--subtext-color);
}
.header__button.active::after {
  backdrop-filter: blur(5px);
  background: var(--background-2);
}
.header__button.active::before {
  filter: blur(6px);
}
.header__contactos {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  gap: 30px;
  opacity: 0;
  transition: opacity 0.5s, bottom 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__contactos img {
  font-size: 20px;
  display: block;
}
.header__contactos__linkedin, .header__contactos__google, .header__contactos__twitter, .header__contactos__whatsapp {
  background: var(--background-1);
  padding: 15px;
  border-radius: 5px;
  transition: padding-right 0.6s ease;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__contactos .icon-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__contactos__linkedin:hover {
  padding-right: 95px;
}
.header__contactos__linkedin {
  color: rgb(0, 132, 255);
}
.header__contactos__google:hover {
  padding-right: 80px;
}
.header__contactos__google {
  color: red;
}
.header__contactos__twitter:hover {
  padding-right: 89px;
}
.header__contactos__whatsapp:hover {
  padding-right: 105px;
}
.header__contactos__linkedin .icon-wrapper::after {
  content: "Linkedin";
  transition: opacity 0.6s ease-in;
  font-size: 15px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: var(--text-color);
  position: absolute;
  right: -74px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}
.header__contactos__google .icon-wrapper::after {
  content: "Gmail";
  transition: opacity 0.6s ease-in;
  font-size: 15px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: var(--text-color);
  position: absolute;
  right: -56px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}
.header__contactos__twitter .icon-wrapper::after {
  content: "Twitter";
  transition: opacity 0.6s ease-in;
  font-size: 15px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: var(--text-color);
  position: absolute;
  right: -70px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}
.header__contactos__whatsapp .icon-wrapper::after {
  content: "Whatsapp";
  transition: opacity 0.6s ease-in;
  font-size: 15px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: var(--text-color);
  position: absolute;
  right: -85px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}
.header .header__contactos__linkedin:hover .icon-wrapper::after,
.header .header__contactos__google:hover .icon-wrapper::after,
.header .header__contactos__twitter:hover .icon-wrapper::after,
.header .header__contactos__whatsapp:hover .icon-wrapper::after {
  opacity: 1;
}

.about {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
  padding: 130px 5%;
}
@media (min-width: 768px) {
  .about {
    padding: 130px 8%;
  }
}
@media (min-width: 1024px) {
  .about {
    padding: 130px 10%;
  }
}
.about {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  gap: 80px;
}
.about__picture {
  width: 100%;
  position: relative;
}
.about__picture__text {
  width: 70%;
  position: absolute;
  bottom: 10%;
  left: 55%;
  border: 1px solid rgba(119, 119, 119, 0.404);
  transform: translate(-20%, 0%);
  background-color: rgba(0, 0, 0, 0.014);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 15px;
}
.about__picture__text h2 {
  margin-bottom: 10px;
}
.about__picture__img {
  width: 100%;
  border-radius: 30px;
}

@media (max-width: 1024px) {
  .header__div__text__h1 {
    margin-top: 35px;
    font-size: 40px;
  }
  .name {
    font-size: 50px;
  }
  p {
    font-size: 17px;
  }
}
@media (max-width: 768px) {
  .header__div__text {
    text-align: center;
    padding: 0px;
    border-left: 0px;
  }
  .header__div__text__h1 {
    font-size: 25px;
  }
  .header__nav__div__content {
    position: absolute;
    width: max-content;
    top: 100%;
    right: -170px;
    background: var(--background-2);
    border-bottom: 1px solid rgba(124, 124, 124, 0.445);
    border-left: 1px solid rgba(124, 124, 124, 0.445);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    border-radius: 0px 0px 0px 20px;
    transition: right 0.3s ease;
  }
  .header__nav__div__content__btn-1, .header__nav__div__content__btn-2, .header__nav__div__content__btn-3 {
    text-align: start;
    width: 140px;
  }
  .header__nav__div__content.active {
    right: 0;
  }
  .header__nav__div__content::before {
    display: none;
  }
  .header__nav__div__menu {
    display: block;
  }
  .header__contactos {
    gap: 10px;
  }
  .name {
    font-size: 20px;
  }
  p {
    font-size: 13px;
  }
}

/*# sourceMappingURL=style.css.map */
