@use "global";
.about {
  @include global.element-size(130px);
  &__div {
    &__img {
      width: 100px;
      height: 100px;
    }
    &__text {
      margin-top: 30px;

      position: relative;

      h2 {
        color: var(--color-1);
        font-size: 30px;
        margin-bottom: 10px;
      }
    }
  }
}
