@use "global";

.header {
  position: relative;
  background: var(--background-2);

  &__nav {
    position: fixed;
    width: 100%;
    background: var(--background-2);
    //background: color-mix(in srgb, var(--background-2) 30%, transparent);
    // backdrop-filter: blur(16px);
    //-webkit-backdrop-filter: blur(16px);
    z-index: 100;
    top: 0px;

    &__img {
      width: 50px;
      height: 50px;
    }

    &__div {
      @include global.element-size(15px);
      @include global.center(flex, space-between, center);

      &__content {
        position: relative;
        border-radius: 50px;
        padding: 0px 10px 0px 10px;
        &__btn-1,
        &__btn-2,
        &__btn-3 {
          font-family: "M PLUS Rounded 1c", sans-serif;
          font-size: 16px;
          padding: 16px 25px;
        }

        /*
        &__btn-1:hover,
        &__btn-2:hover,
        &__btn-3:hover {
          color: white;
        }
        */
      }
      &__content::before {
        width: 80px;
        height: 3px;

        transition: all 0.5s ease;
        background: linear-gradient(135deg, #ff0a6c 0%, #2d27ff);
        border-radius: 30px;

        content: "";
        position: absolute;
        z-index: 1;
        right: 25px;
        bottom: 8px;
      }
      &__content:has(.header__nav__div__content__btn-1:hover)::before {
        width: 90px;
        right: 273px;
      }

      &__content:has(.header__nav__div__content__btn-2:hover)::before {
        width: 100px;
        right: 140px;
      }

      &__menu {
        display: none;
        color: var(--text-color);
        font-size: 22px;
      }

      &__theme {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        font-size: 20px;
        background: var(--text-color);
        overflow: hidden;
        position: relative;
        @include global.center(flex, none, center);

        i {
          color: var(--contraste);
          border-radius: 50px;
          font-size: 25px;
          transition:
            transform 0.5s ease-in-out,
            opacity 0.9s ease-in-out;
        }

        &__sun {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &__moon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(70%, -50%);
          opacity: 0;
        }
      }
    }
  }

  &__div {
    @include global.element-size(350px);

    &__text {
      display: grid;

      ul {
        @include global.center(flex, none, center);
        gap: 20px;
        li {
          list-style: none;
          font-family: "rubik";
        }

        li:nth-child(1) {
          color: white;
          background: linear-gradient(135deg, #ff0a6c 0%, #2d27ff);
          padding: 10px 20px;
          border-radius: 5px;
        }

        li:nth-child(2) {
          color: var(--text-color);
        }
      }

      &__h1 {
        font-family: "Outfit", sans-serif;
        font-size: 60px;
        font-weight: 600;
        margin-bottom: 30px;
        margin-top: 20px;
        line-height: 1.1;
      }

      p:nth-child(3) {
        max-width: 1000px;
      }
    }
  }
  &__button {
    font-size: 25px;
    padding: 15px 30px 15px 30px;
    border-radius: 50px;
    z-index: 20;
    cursor: pointer;
    color: var(--text-color);
    transition: color 0.3s ease;

    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);

    @include global.center(flex, center, center);
    gap: 10px;
    img {
      width: 20px;
      transition: transform 0.3s ease;
      right: 10px;
      top: 50%;
    }
  }
  &__button::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    background: var(--button-color);
    transition: background 0.3s ease;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__button::before {
    content: "";
    z-index: -1;
    background: linear-gradient(
      45deg,
      red,
      rgb(255, 0, 191),
      rgb(25, 0, 255),
      rgb(255, 0, 191),
      red
    );

    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(20px);
    animation: glowing 17s linear infinite;
    transition:
      opacity 0.3s ease,
      filter 0.3s ease;
    border-radius: 70px;
    opacity: 1;

    @keyframes glowing {
      0% {
        background-position: 0 0;
      }
      50% {
        background-position: 400% 0;
      }
      100% {
        background-position: 0 0;
      }
    }
  }
  &__button.active {
    color: var(--subtext-color);
  }
  &__button.active::after {
    backdrop-filter: blur(5px);
    background: var(--background-2);
  }

  &__button.active::before {
    filter: blur(6px);
  }

  &__contactos {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    gap: 30px;
    opacity: 0;
    transition:
      opacity 0.5s,
      bottom 0.5s;

    @include global.center(flex, center, center);

    img {
      font-size: 20px;
      display: block;
    }

    &__linkedin,
    &__google,
    &__twitter,
    &__whatsapp {
      background: var(--background-1);
      padding: 15px;
      border-radius: 5px;

      transition: padding-right 0.6s ease;

      overflow: hidden;
      @include global.center(flex, center, center);
    }

    .icon-wrapper {
      position: relative;
      @include global.center(flex, center, center);
    }

    &__linkedin:hover {
      padding-right: 95px;
    }

    &__linkedin {
      color: rgb(0, 132, 255);
    }

    &__google:hover {
      padding-right: 80px;
    }

    &__google {
      color: red;
    }

    &__twitter:hover {
      padding-right: 89px;
    }

    &__whatsapp:hover {
      padding-right: 105px;
    }

    &__linkedin .icon-wrapper::after {
      content: "Linkedin";
      transition: opacity 0.6s ease-in;
      font-size: 15px;
      font-family: "M PLUS Rounded 1c", sans-serif;
      color: var(--text-color);

      position: absolute;
      right: -74px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
    }
    &__google .icon-wrapper::after {
      content: "Gmail";
      transition: opacity 0.6s ease-in;
      font-size: 15px;
      font-family: "M PLUS Rounded 1c", sans-serif;
      color: var(--text-color);

      position: absolute;
      right: -56px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
    }
    &__twitter .icon-wrapper::after {
      content: "Twitter";
      transition: opacity 0.6s ease-in;
      font-size: 15px;
      font-family: "M PLUS Rounded 1c", sans-serif;
      color: var(--text-color);

      position: absolute;
      right: -70px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
    }
    &__whatsapp .icon-wrapper::after {
      content: "Whatsapp";
      transition: opacity 0.6s ease-in;
      font-size: 15px;
      font-family: "M PLUS Rounded 1c", sans-serif;
      color: var(--text-color);

      position: absolute;
      right: -85px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
    }
  }

  .header__contactos__linkedin:hover .icon-wrapper::after,
  .header__contactos__google:hover .icon-wrapper::after,
  .header__contactos__twitter:hover .icon-wrapper::after,
  .header__contactos__whatsapp:hover .icon-wrapper::after {
    opacity: 1;
  }
}
